{% extends '_base.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Polls List</h2>
        <div class="row">
            {% for poll in polls %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ poll.question }}</h5>
                            <p class="card-text"><strong>Asked by:</strong> {{ poll.user }}</p>
                            <p class="card-text"><strong>Created on:</strong> {{ poll.datetime_created|date:"F d, Y" }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
